.post-comments-list{
    ul{
        li{
            word-wrap: break-word;
            border:1px solid blue;
            border-radius: 12px;
            text-align: center;
        }
    }
    
    
}