#head {
  width: 99.3%;
  padding-left: 10px;
  background-color: rgba(43, 42, 42, 0.555);
  background-color: red;
  min-height: 10vh;
  color: aliceblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: static;
  height: 200px; }
  #head ul {
    padding-right: 0px;
    list-style-type: none;
    display: inline-flex;
    transform: translateY(-60px);
    float: right; }
    #head ul li {
      margin-right: 10px; }
    #head ul a {
      color: rgba(255, 255, 255, 0.842);
      text-decoration: none;
      right: 0px;
      width: 100%;
      font-variant: small-caps;
      padding: 3px;
      border-radius: 8px;
      overflow: auto; }
      #head ul a:hover {
        border: 1px dotted #1c2336; }
