body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.418);
  min-height: 120%;
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fhelpx.adobe.com%2Fphotoshop%2Fusing%2Fconvert-color-image-black-white.html&psig=AOvVaw2atRY11ogG_tNthYeYHXv8&ust=1618764989548000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCID8-9LfhfACFQAAAAAdAAAAABAD");
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
  body #layout-main {
    padding-bottom: 2em;
    height: 120%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; }
