body {
  margin: 0;
  padding: 0;
  background-color: rgba(175, 177, 176, 0.418); }
  body #layout-main {
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
